.chat-content {
    height: 59vh;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #eaddcf;
}
::-webkit-scrollbar-thumb {
    background-color: #020826;
}

.msg {
    max-width: 450px;
}

.message {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.own {
    align-items: flex-end;
    margin-right: 8px;
}

.own p {
    background-color: #eaddcf;
    border-top-right-radius: 2px;
    border-top-left-radius: 24px;
    margin-right: 8px;
}

.own div {
    flex-direction: row-reverse;
}

.own .italic {
    margin-right: 64px;
}

.active {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: #10b981 !important;
    right: 0;
    bottom: 0;
    border-width: 2px;
}
